# Python
*.pyc
__pycache__
*.egg-info
*.mo

# {{cookiecutter.app_type.upper()}} local settings
/etc/sys/settings-local.cfg

# Docker local settings
/.env
/docker.env
/netrc

# IDE settings
.vscode
.idea
.~lock*

# Virtualenv
/venv/
/.tox

# corpusops & ansible
*.retry
/.ansible/scripts/ansible_deploy_env
/local/
!/local/regen.sh

# remove those ignore if you override those items in your configuration
/etc/crontabs/
/etc/logrotate.d/
/etc/supervisor.d/
