# To override in your project skeleton
PROJECT_DIR=/code/
# This need to be changed in production
PLONE__ZEO_HOST_DB=zeo
PLONE__ZEO_USER=user
PLONE__ZEO_PASSWORD=password
PLONE__ADMIN=admin
PLONE__ADMIN_PASSWORD=admin2mDMY5x764R38ns 
# vim: set ft=sh:
