# To override in your project skeleton
PROJECT_DIR=/code/
# This need to be changed in production
PLONE__USER=plone
PLONE__ROTATE=31
PLONE__ADMIN=admin
PLONE__ADMIN_PASSWORD=adminxCHANGEMEx2mDMY5
PLONE__SITE_PATH=/Plone
PLONE__CRON_RESTART=15 3 1 * *
PLONE__CRON_BACKUP=05 1 * * *
PLONE__CRON_SBACKUP=10 1 * * 6
PLONE__CRON_ZEO_PACK=30 1 * * *
# PLONE__HTTP_PROTECT_USER=root
# PLONE__HTTP_PROTECT_PASSWORD=rootroot

# backup settings
# PLONE__ZEO_PACK_KEEP_OLD=2
# set to any int for activating backups
# PLONE__BACKUPS_KEEP=7
# PLONE__SNAPSHOTBACKUPS_KEEP=2
# how many days we pack
# PLONE__PACK_DAYS=1
# toggle periodic restart cron
# PLONE__PERIODIC_RESTART=1

# Sentry settings
# PLONE__SENTRY=https://sentry_dsn
# PLONE__SENTRY_ZOPELOGLEVEL=INFO
# PLONE__SENTRY_LEVEL=error
# PLONE__SENTRY_PROJECT=app
# PLONE__SENTRY_RELEASE=1.0
# PLONE__SENTRY_ENVIRONMENT=prod
MAILCATCHER_USER=mailcatcher
MAILCATCHER_PASSWORD=mailcatcher
# vim: set ft=sh:
