# Sysadmin settings like hosts, credentials, paths, cache settings, and loglevels
[v]
mainegg={{cookiecutter.egg_ns}}.{{cookiecutter.project_name}}
# plone settings
admin-user = admin
admin-password = secret
# space separated domains aliases

# plone site id
plonesite = Plone
# zope settings
zeo-pack-days=1
z2-log-level = INFO
event-log-level = INFO
#debug mode
debug = off
verbose-security = off
# zeo cache settings
zeo-client-cache-size = 128MB
session-timeout-minutes = 90

# sys-user = ${env:USER}
# sys-group = ${grp:GROUP}

[hosts]
ip = 127.0.0.1
address = localhost
zeo = ${hosts:ip}
instance = ${hosts:address}
ftp = ${hosts:address}

[ports]
zeo = 8100
instance = 8080
ftp = 8021

[crons]
# number of backups to rotate
nb_backups_to_keep = {{cookiecutter.nb_backups_to_keep}}
# number of  fimm backups to rotate
nb_fullbackups_to_keep = {{cookiecutter.nb_fullbackups_to_keep}}

[locations]
# absolute paths to avoid buildout auto build of reffered part
data_root=${buildout:var-directory}
tmp = ${buildout:directory}/var/tmp
main_zodb = Data
logs_dir = ${buildout:var-directory}/log
backup_root = ${locations:data_root}/backup
filestorages = ${locations:data_root}/filestorages
filestorage = ${locations:filestorages}/${:main_zodb}.fs
blob_storages = ${locations:data_root}/blobstorages
blob_storage = ${locations:blob_storages}/storage-${:main_zodb}
backups = ${locations:backup_root}/filestorage_backups
snapshot_backups = ${locations:backup_root}/filestorage_snapshot_backups
blob_backup_root = ${locations:backup_root}
blob_backups = ${locations:blob_backup_root}/blob_backups
snapshot_blob_backups = ${locations:blob_backup_root}/snapshot_blob_backups
# vim:set ft=cfg:
